**/obj/
**/bin/
**/.vscode/
**/.vs/
**/.idea/
**/.build/
**/.site/
**/.nvim/
**/roslyn-source-generated:/

**/*appsettings*.json
*.user
*.suo
*.userosscache
*.sln.docstates
*.sln.iml
*.db
*.db-shm
*.db-wal
*.fake
*.tmp
*.key
*.crt
*.pfx

README.Docker.md
.fake
